body {
  /* background-color: #e5d9cf !important; */
  background-image: url('../img/banner4_1.png');
}

#dangKy {
  display: none;
}

#dangNhap {
  display: block;
}

a {
  text-decoration: none !important;
}

img.imgbox {
  width: 100%;
}

.box-area {
  width: 930px;
}

.header-text p {
  font-size: 40px !important;
}

.btn.btn-outline-primary {
  border-color: #e5d9cf;
  color: black;
}

.btn.btn-outline-primary:hover {
  border-color: #e5d9cf;
  background-color: #e5d9cf;
  color: white;
}