body {
  /* background-color: #e5d9cf !important; */
  /* background-image: url('../img/banner4_1.png'); */
  background-image: url('../img/banner4_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* Các thuộc tính khác nếu cần thiết */
  margin: 0;
  padding: 0;
  height: 100vh; /* Đảm bảo body chiếm toàn bộ chiều cao của màn hình */
}

#rsPass{
  display: none;
}

#nhapOTP{
  display: none;
}

#quenMatKhau {
  display: none;
}

#dangKy {
  display: none;
}

#dangNhap {
  display: block;
}

a {
  text-decoration: none !important;
}

img.imgbox {
  width: 100%;
}

.box-area {
  width: 930px;
}

.header-text p {
  font-size: 40px !important;
}

.btn.btn-outline-primary {
  border-color: #e5d9cf;
  color: black;
}

.btn.btn-outline-primary:hover {
  border-color: #e5d9cf;
  background-color: #e5d9cf;
  color: white;
}