<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style.css" />
  <title>webvaycuoi</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lobster&family=Taviraj:wght@100;300&display=swap"
    rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    body {
      font-family: "Josefin Sans", sans-serif;
      font-family: "Lobster", sans-serif;
      font-family: "Taviraj", serif;
    }
  </style>
</head>

<body>
  <header id="section-header" class="header moto-section">
    <div class="" style="">
      <div class="container pt-2" bis_skin_checked="1">
        <div class="row" data-container="container" bis_skin_checked="1">
          <div class="col-sm-6" style="">
            <div class="">
              <div class="">
                <p class="moto-text_system_2">
                  <span class="d-flex justify-content-center align-items-center"><i
                      class="fa-solid fa-phone fa-sm"></i></span>&nbsp;&nbsp;<a href="tel:1234567890">+3(800)
                    2345-6789</a>&nbsp; 7 Days a week from 9:00 am to 7:00 pm
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="">
            <div class="" style="">
              <div class="container-fluid" bis_skin_checked="1">
                <div class="row">
                  <div class="col-sm-6 d-flex justify-content-end" style="">
                    <div data-widget-id="wid_1524125623_a2pb4lmv8" class="">
                      <div store-search-widget="" bis_skin_checked="1">
                        <form action="" method="GET" accept-charset="utf-8" class="search-form on ng-pristine ng-valid">
                          <label class="search-form_label">
                            <input type="text" name="keyword" autocomplete="off" value="" class="search-form_input" />
                            <i class="fa-solid fa-magnifying-glass fa-sm search-icon"></i>
                          </label>
                          <span class="search-form_submit fa-search search-submit-icon"></span>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 d-flex justify-content-end" style="">
                    <div id="wid_1524125584_64lbu0ohb" class="">
                      <ul class="">
                        <li class="">
                          <a class="" ng-click="handleToCart()">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="">
                              <span class="visually-hidden">My Cart</span>
                              (<span class="cart-count" ng-bind="widget.items_in_cart">0</span>)
                            </span>
                          </a>
                        </li>

                        <!---->

                        <li
                          class="">
                          <a class="" ng-click="handleTargetPage()">
                            <i class="fa fa-user"></i>

                            <!---->
                          </a>
                        </li>
                        <!---->
                      </ul>

                      <style type="text/css"></style>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-img banner1">
      <div class="container-fluid" bis_skin_checked="1">
        <div class="row" data-container="container" bis_skin_checked="1">
          <div class="col-sm-12 vh-100" style="">
            <div data-widget-id="wid_1524569774_ikd6tjku4"
              class="">
              <div class="" style="height: 30px"></div>
            </div>
            <div
              class="">
              <div class="container" bis_skin_checked="1">
                <div class="row" data-container="" bis_skin_checked="1">
                  <div class="col-sm-4 d-flex justify-content-start" style="">
                    <div class="col-xs-12 d-flex align-items-center justify-content-center" style="">
                      <div
                        class=""
                        data-widget="image">
                        <a href="" data-action="home_page" class="moto-widget-image-link moto-link">
                          <img data-src=""
                            src="https://demo.try-builder.commt-content/uploads/2018/04/mt-1422_header_logo1.png"
                            class=""
                            data-id="1120" title="" alt="" />
                        </a>
                      </div>
                      <div class="">
                        <div class=""
                          bis_skin_checked="1">
                          <p class="moto-text_system_1 d-flex align-items-center mb-0">
                            <a data-action="home_page" data-anchor="" class="moto-link home_page logo-link" href=""
                              bis_skin_checked="1">
                              <span class="image-replacement"></span>
                              AZALEA
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8 d-flex justify-content-end" style="">
                    <div data-widget-id="wid_1524125978_i6n6k0aja"
                      class="">
                      <a href="#" class="menu-toggle-btn"><i
                          class="menu-toggle-btn-icon fa fa-bars"></i></a>
                      <ul class="menu-list menu-list_horizontal header m-0">
                        <li class="moto-widget-menu-item">
                          <a href="" data-action="home_page"
                            class="menu-link menu-link-level-1 menu-link-active moto-link">HOME</a>
                        </li>
                        <li class="moto-widget-menu-item">
                          <a href="" data-action="page"
                            class="menu-link menu-link-level-1 moto-link">ABOUT US</a>
                        </li>
                        <li class="moto-widget-menu-item menu-item-has-submenu">
                          <a href="" data-action="store.category"
                            class="menu-link menu-link-level-1 menu-link-submenu moto-link">SHOP
                            <i class="fa-solid fa-angle-down"></i></a>
                          <ul class="menu-sublist">
                            <li class="moto-widget-menu-item">
                              <a href="" data-action="store.category"
                                class="menu-link menu-link-level-2 moto-link">WEDDING DRESS</a>
                            </li>
                            <li class="moto-widget-menu-item">
                              <a href="" data-action="store.category"
                                class="menu-link menu-link-level-2 moto-link">WEDDING
                                ACCESSORIES</a>
                            </li>
                            <li class="moto-widget-menu-item">
                              <a href="" data-action="store.category"
                                class="menu-link menu-link-level-2 moto-link">EXCLUSIVE
                                COLLECTION</a>
                            </li>
                          </ul>
                        </li>
                        <li class="moto-widget-menu-item">
                          <a href="" data-action="blog.index"
                            class="menu-link menu-link-level-1 moto-link">BLOG</a>
                        </li>
                        <li class="moto-widget-menu-item">
                          <a href="" data-action="page"
                            class="menu-link menu-link-level-1 moto-link">CONTACTS</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-widget-id="wid_1524136522_44x7e4ya1"
              class="">
              <div class="" style="height: 10px"></div>
            </div>
            <div class="container align-items-center text-banner row-banner">
              <div class="text-banner banner1">
                <div class="" bis_skin_checked="1">
                  <p class="moto-text_system_6">BRIDAL 2024</p>
                  <p class="moto-text_system_3">COLLECTION</p>
                  <p class="moto-text_225">
                    Browse the complete Bridal 2024 collection.
                  </p>
                </div>
              </div>
              <div class="">
                <button class="btn btn-danger">
                  <a href="store/category/shop/" data-action="store.category"
                    class="">
                    <span class="fa moto-widget-theme-icon"></span>
                    <span class="moto-widget-button-divider"></span>
                    <span class="moto-widget-button-label">XEM NGAY!</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="py-4">
    <div class="container type-categories">
      <div class="row">
        <div class="col-4 p-4">
          <a href="https://your-link-here.com" class="card-link">
            <div class="card" style="width: 100%">
              <img
                src="https://lavitta.vn/cdn/shop/files/z5009401811761_77bf56a6cf6eba0dbfd6a2fcc66288d7_600x.jpg?v=1703525193"
                class="card-img-top" alt="mau1" />
              <div class="overlay">
                <div class="content">
                  <p class="text-black">VÁY CƯỚI</p>
                  <!-- <a href="#" class="btn"><button class="btn btn-danger" type="submit">Button</button></a> -->
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4 p-4">
          <a href="https://your-link-here.com" class="card-link">
            <div class="card" style="width: 100%">
              <img
                src="https://lavitta.vn/cdn/shop/files/z5009401802593_ac3db59bda6187bff17af1b8bbcfbbc5_600x.jpg?v=1703525097"
                class="card-img-top" alt="mau2" />
              <div class="overlay">
                <div class="content">
                  <p class="text-black">PHỤ KIỆN</p>
                  <!-- <a href="#" class="btn"><button class="btn btn-danger" type="submit">Button</button></a> -->
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-4 p-4">
          <a href="https://your-link-here.com" class="card-link">
            <div class="card" style="width: 100%">
              <img
                src="https://lavitta.vn/cdn/shop/files/z5009401283292_9fe878edd75c243caa8d1b1ed6927490_600x.jpg?v=1703524257"
                class="card-img-top" alt="mau3" />
              <div class="overlay">
                <div class="content">
                  <p class="text-black">BỘ SƯU TẬP ĐỘC QUYỀN</p>
                  <!-- <a href="#" class="btn"><button class="btn btn-danger" type="submit">Button</button></a> -->
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid banner-img banner2">
    <div class="row banner2">
      <div class="col-sm-12 banner2">
        <div class="container banner2">
          <div class="row banner2">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <p class="moto-text_225">
                Browse the complete Bridal 2024 collection.
              </p>
              <p class="moto-text_system_6">FOR YOUR</p>
              <p class="moto-text_system_3">WEDDING</p>
              <div class="container-fluid p-0">
                <button class="btn btn-danger" data-widget-id="wid_1524136851_x7uuibamn" data-widget="button"
                  bis_skin_checked="1">
                  <a href="store/category/shop/" data-action="store.category"
                    class="moto-widget-button-link moto-size-medium moto-link d-flex" bis_skin_checked="1">
                    <span class="fa moto-widget-theme-icon"></span>
                    <span class="moto-widget-button-divider"></span>
                    <span class="moto-widget-button-label text-white">XEM NGAY!</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <div class="row">
      <h1 class="text-center text-white">
        <img data-src="" src="https://demo.try-builder.commt-content/uploads/2018/04/mt-1422_header_logo1.png" class=""
          data-id="1120" title="" alt="" />
      </h1>
      <!-- phan nay -->
      <h1 class="text-center text-white mb-4">OUR PRODUCTS</h1>
      <div class="col-sm-3">
        <div class="card sp" style="width: 100%" onmouseover="addHoverEffect(this)" onmouseout="removeHoverEffect(this)"
          onclick="redirectToAnotherPage()">
          <img class="h-100"
            src="https://lavitta.vn/cdn/shop/files/z5009401304552_6e7b6b911bc5b000603b56ca5b04a874_600x.jpg?v=1703524364"
            alt="" />
          <a href="#" class="eye-link">
            <i class="fa-regular fa-eye"></i>
          </a>
        </div>

        <div class="d-flex justify-content-center pt-3">
          <p class="m-0">Đầm hồng cá tính</p>
        </div>
        <!-- phan nay -->
        <div class="d-flex justify-content-center pt-3">
          <button type="button" class="btn btn-danger">
            Thêm vào giỏ hàng
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <div class="row py-5">
      <div class="col-sm-6">
        <img class="w-100 rounded"
          src="https://mymedia.vn/wp-content/uploads/2022/08/chup-anh-cuoi-co-dau-mot-minh-2.jpg" alt="" />
      </div>
      <div class="col-sm-6 d-flex align-items-center">
        <div class="">
          <p class="moto-text_system_6">FOR YOUR</p>
          <p class="moto-text_system_3">WEDDING</p>
          <p class="moto-text_225">
            Browse the complete Bridal 2024 collection.
          </p>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm-6 d-flex align-items-center">
        <div class="">
          <p class="moto-text_system_6">FOR YOUR</p>
          <p class="moto-text_system_3">WEDDING</p>
          <p class="moto-text_225">
            Browse the complete Bridal 2024 collection.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <img class="w-100 rounded"
          src="https://mimosawedding.net/wp-content/uploads/2021/10/chup-anh-cuoi-co-dau-mot-minh-20.jpg" alt="" />
      </div>
    </div>
  </div>

  <footer id="section-footer" class="footer moto-section moto-sticky__bootstrapped">
    <div class="" style="">
      <div class="container-fluid" bis_skin_checked="1">
        <div class="row" data-container="container" bis_skin_checked="1">
          <div class="col-sm-12" style="" data-widget="row.column" data-container="container" data-spacing="aaaa"
            data-bg-position="left top" bis_skin_checked="1">
            <div
              class=""
              data-grid-type="sm" data-widget="row" data-spacing="aama" style="" data-bg-position="left top"
              data-draggable-disabled="" bis_skin_checked="1">
              <div class="container-fluid" bis_skin_checked="1">
                <div class="row" data-container="container" bis_skin_checked="1">
                  <div class="col-sm-4" style="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top" bis_skin_checked="1"></div>
                  <div class="col-sm-4" style="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top" bis_skin_checked="1">
                    <div class="" data-grid-type="xs" data-widget="row" data-spacing="aaaa"
                      style="" data-bg-position="left top" bis_skin_checked="1">
                      <div class="container-fluid" bis_skin_checked="1">
                        <div class="row" data-container="container" bis_skin_checked="1">
                          <div class="col-xs-2" style="" data-widget="row.column" data-container="container"
                            data-spacing="aaaa" data-bg-position="left top" bis_skin_checked="1"></div>
                          <div class="col-xs-9 py-3 d-flex justify-content-center" style="" data-widget="row.column"
                            data-container="container" data-spacing="aaaa" data-bg-position="left top"
                            bis_skin_checked="1">
                            <div
                              class=""
                              data-grid-type="xs" data-widget="row" data-spacing="sasa" style=""
                              data-bg-position="left top" data-draggable-disabled="" bis_skin_checked="1">
                              <div class="container-fluid" bis_skin_checked="1">
                                <div class="row align-items-center" data-container="container" bis_skin_checked="1">
                                  <div class="col-xs-12 d-flex align-items-center justify-content-center" style=""
                                    data-widget="row.column" data-container="container" data-spacing="aaaa"
                                    data-bg-position="left top" bis_skin_checked="1">
                                    <div
                                      class=""
                                      data-widget="image" bis_skin_checked="1">
                                      <a href="" data-action="home_page" class="moto-widget-image-link moto-link"
                                        bis_skin_checked="1">
                                        <img data-src=""
                                          src="https://demo.try-builder.commt-content/uploads/2018/04/mt-1422_header_logo1.png"
                                          class=""
                                          data-id="1120" title="" alt="" />
                                      </a>
                                    </div>
                                    <div class="" data-widget="text"
                                      data-preset="default" data-spacing="aaaa" data-animation=""
                                      data-draggable-disabled="" bis_skin_checked="1">
                                      <div
                                        class=""
                                        bis_skin_checked="1">
                                        <p class="moto-text_system_1 d-flex align-items-center mb-0">
                                          <a data-action="home_page" data-anchor=""
                                            class="moto-link home_page logo-link" href="" bis_skin_checked="1">
                                            <span class="image-replacement"></span>
                                            AZALEA
                                          </a>
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-1" style="" data-widget="row.column" data-container="container"
                            data-spacing="aaaa" data-bg-position="left top" bis_skin_checked="1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4" style="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top" bis_skin_checked="1"></div>
                </div>
              </div>
            </div>
            <div data-widget-id="wid_1524128091_05kg60ys0"
              class=""
              data-preset="default" data-widget="menu" bis_skin_checked="1">
              <a href="#" class="menu-toggle-btn"><i
                  class=" fa fa-bars"></i></a>
              <ul class="menu-list menu-list_horizontal footer">
                <li class="moto-widget-menu-item">
                  <a href="" data-action="home_page"
                    class="menu-link menu-link-level-1 menu-link-active moto-link"
                    bis_skin_checked="1">HOME</a>
                </li>
                <li class="moto-widget-menu-item">
                  <a href="about-us/" data-action="page"
                    class="menu-link menu-link-level-1 moto-link" bis_skin_checked="1">ABOUT
                    US</a>
                </li>
                <li class="moto-widget-menu-item">
                  <a href="blog/" data-action="blog.index"
                    class="menu-link menu-link-level-1 moto-link" bis_skin_checked="1">BLOG</a>
                </li>
                <li class="moto-widget-menu-item">
                  <a href="store/category/shop/" data-action="store.category"
                    class="menu-link menu-link-level-1 moto-link" bis_skin_checked="1">SHOP</a>
                </li>
                <li class="moto-widget-menu-item">
                  <a href="contacts/" data-action="page"
                    class="menu-link menu-link-level-1 moto-link"
                    bis_skin_checked="1">CONTACTS</a>
                </li>
              </ul>
            </div>
            <div
              class=""
              data-widget="text" data-preset="default" data-spacing="saaa" data-animation="" data-draggable-disabled=""
              bis_skin_checked="1">
              <div class="" bis_skin_checked="1">
                <p class="moto-text_system_8" style="text-align: center">
                  <a target="_self" data-action="url" class="moto-link payment" href="#"><span class="fa"><i
                        class="fa-brands fa-cc-visa fa-xl payment"></i></span></a>&nbsp;<a target="_self"
                    data-action="url" class="moto-link" href="#"><span class="fa"><i
                        class="fa-brands fa-cc-mastercard fa-xl payment"></i></span></a>&nbsp;<a target="_self"
                    data-action="url" class="moto-link" href="#"><span class="fa"><i
                        class="fa-brands fa-cc-discover fa-xl payment"></i></span></a>&nbsp;<a target="_self"
                    data-action="url" class="moto-link" href="#"><span class="fa"><i
                        class="fa-brands fa-cc-apple-pay fa-xl payment"></i></span></a>&nbsp;<a target="_self"
                    data-action="url" class="moto-link" href="#"><span class="fa"><i
                        class="fa-brands fa-cc-paypal fa-xl payment"></i></span></a>&nbsp;<a target="_self"
                    data-action="url" class="moto-link" href="#"><span class="fa"><i
                        class="fa-brands fa-cc-stripe fa-xl payment"></i></span></a>
                </p>
              </div>
            </div>
            <div data-widget-id="wid_1524128807_2abosenqb"
              class=""
              data-widget="divider_horizontal" data-preset="3" bis_skin_checked="1">
              <hr class="moto-widget-divider-line" style="max-width: 100%; width: 100%" />
            </div>
            <div class="" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation=""
              data-draggable-disabled="" bis_skin_checked="1">
              <div class="moto-widget-text-content moto-widget-text-editable" bis_skin_checked="1">
                <p class="moto-text_224" style="text-align: center">
                  © 2024 Azalea. All Right Reserved. Designed by
                  <a target="_blank" rel="nofollow" data-action="url" class="moto-link author"
                    href="http://github.com/hvuitsme" bis_skin_checked="1">Hvuitsme</a>.&nbsp;<a href=""
                    data-action="page" data-id="27" class="moto-link policy" bis_skin_checked="1">Privacy Policy</a>
                </p>
              </div>
            </div>
            <div id="wid_1524129043_jzrillzxh" data-widget-id="wid_1524129043_jzrillzxh" class=""
              data-widget="social_links_extended" data-preset="default" bis_skin_checked="1">
              <ul class="social-links-extended__list">
                <li class="social-links-extended__item ">
                  <a href="#" class="moto-widget-social-links-extended__link" target="_blank">
                    <span class="moto-widget-social-links-extended__icon fa"><i
                        class="fa-brands fa-square-facebook fa-xl"></i></span>
                  </a>
                </li>
                <li class="social-links-extended__item ">
                  <a href="#" class="" target="_blank">
                    <span class="fa"><i
                        class="fa-brands fa-square-twitter fa-xl"></i></span>
                  </a>
                </li>
                <li class="social-links-extended__item ">
                  <a href="#" class="" target="_blank">
                    <span class="moto-widget-social-links-extended__icon fa"><i
                        class="fa-brands fa-linkedin fa-xl"></i></span>
                  </a>
                </li>
                <li class="social-links-extended__item ">
                  <a href="#" class="moto-widget-social-links-extended__link" target="_blank">
                    <span class="moto-widget-social-links-extended__icon fa"><i
                        class="fa-brands fa-instagram fa-xl"></i></span>
                  </a>
                </li>
              </ul>
              <style type="text/css"></style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- js script -->

  <script>
    $(document).ready(function () {
      // Kiểm tra kích thước màn hình và thêm/xóa lớp CSS
      function checkScreenSize() {
        var screenSize =
          window.innerWidth ||
          document.documentElement.clientWidth ||
          document.body.clientWidth;

        // Nếu kích thước màn hình là 768px hoặc nhỏ hơn, thêm lớp visible-xs
        if (screenSize <= 768) {
          $(".menu-toggle-btn").addClass("visible-xs");
        } else {
          $(".menu-toggle-btn").removeClass("visible-xs");
        }
      }

      // Gọi hàm kiểm tra khi trang web tải và khi thay đổi kích thước màn hình
      $(window).on("load resize", function () {
        checkScreenSize();
      });
    });

    function redirectToAnotherPage() {
      // Thực hiện chuyển hướng khi nhấp vào thẻ
      window.location.href = "https://github.com/hvuitsme";
    }

    function addHoverEffect(card) {
      // Thực hiện các thay đổi khi di chuột vào
      card.style.boxShadow = "0 0 10px rgba(0, 0, 0, 0.3)";
    }

    function removeHoverEffect(card) {
      // Thực hiện các thay đổi khi di chuột ra
      card.style.boxShadow = "none";
    }
  </script>

  <!-- cdnjs -->

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>